body{
    background-color: #0b2e13;
    color:white;
}
div{
    margin:auto;
    width:60%;
    height:200px;
    /*background-color: #8fd19e;*/
}
ul{
    list-style: none;
    text-align: center;
    font-size:20px;
}
select{
    font-size:20px;
}