table,div{
    width:600px;
    /*height: 200px;*/
    margin:auto;
}


th{
    /*empty-cells: hide;*/
    background-color: #2566ea;
    color:palegreen;
}

td{
    border:1px solid;
    text-align: center;
}

input[type="button"]
{
    background-color: #8fd19e;
    width:40%;
    /*height: 50px;*/
}
